@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="big green">@Model.Result</div><br>
@if (!Model.Hidden)
{
    <a asp-page-handler="Cancel" class="button greenBk">Cancel</a>
    <a asp-page-handler="DropDb" class="button redBk">Drop</a>
}
