<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
    <link href="~/css/site_2.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div>
            <a href="~/default.html">Html</a>
            <a asp-page="/Index">Home</a>
            <select onchange="location=this.value" class="w9">
                <option value="">Model Binding</option>
                <option value="/Bind/ImgList">Image List</option>
                <option value="/Bind/ByHand">By Hand</option>
                <option value="/Bind/ByArgs">By Args</option>
                <option value="/Bind/ByProp">By Property</option>
                <option value="/Bind/ByRoute/MyRoute">By Route</option>
                <option value="/Bind/ByColl">By Collection</option>
                <option value="/Bind/ByObj">By class object</option>
            </select>
            <a asp-page="/DB/Index">Database</a>
            <a asp-page="/Index" asp-page-handler="TryDropDb">Drop DB</a>
        </div><hr>
    </nav>
    <h2>@ViewData["Title"]</h2>
    <section id="main">
        @RenderBody()
    </section><hr />
    <footer>
        &copy; WebCore, 2017 <a href="https://msdn.microsoft.com/ru-ru/data/ef.aspx">EF Info</a>
    </footer>
</body>
</html>